{% extends "base.html" %}

{% block head_title %}
    {{ user.username }} | {{ block.super }}
{% endblock %}

{% block content %}
<h1>{{ user.username }}</h1>
<hr/>

{% for rest in user.restaurantlocation_set.all %}
<div class="row">
<div class="col-sm-12">
    <div class="card card-default">
        <h4>{{ rest.title }}</h4>
        <p>{{ rest.location }} | {{ rest.category }}</p>
        <ul>
            {% for item in rest.item_set.all %}
            <li style="margin-bottom: 15px"><b>{{ item.name }}</b><br/>
                    {% for ing in item.get_contents %}
                    <span class="badge badge-light">
                        {{ ing }}
                    </span>
                    {% endfor %}
                </li>
            {% endfor %}
        </ul>
    </div>
</div>
</div>
{% endfor %}

{% endblock %}
