{% extends "base-list.html" %}

{% block head_title %}
    {{ block.super }}
{% endblock head_title %}

{% block title_bar %}
<h5 class="mb-0 lh-100">Home</h5>
{% endblock %}

{% block items_main %}
    <div class="media media-body small py-3 lh-125 border-gray text-info border-bottom border-gray">
        Share your pickiness with your friends.
        <br/>Add restaurants or menu items you like most so they get it right every time.
    </div>
    <div class="media media-body small py-3 lh-125 border-gray">
        <a class="navbar-brand" style="font-family: Titan One; font-size: 22px; color: #5bc0de" href="{% url 'login' %}">Join us</a>
    </div>
{% endblock %}
