{% extends "base-detail-update.html" %}

{% block head_title %}
    {{ form.instance.name }} | {{ block.super }}
{% endblock %}

{% block title_bar %}
    <h5>{{ form.instance.name }}</h5>
{% endblock %}

{% block items_main %}
<div class="my-3 p-3 bg-white rounded box-shadow">
    <div class="row media py-3 media-body small lh-125">
        <div class="col-md-6 text-info">
            <strong>{{ form.instance.restaurant.name }}</strong>
            <br/>{{ form.instance.restaurant.location }}
            <br/>{{ form.instance.restaurant.category }}
        </div>
        <div class="col-md-3 text-muted">
            <strong>Contents:</strong>
            <br/>
            {% for ing in form.instance.get_contents %}
                <ul class="list-group list-unstyled">
                    <li>{{ ing }}</li>
                </ul>
            {% endfor %}
        </div>
        <div class="col-md-3 text-muted">
            <strong>Excludes:</strong><br/>
            {% for ing in form.instance.get_excludes %}
                <ul class="list-group list-unstyled">
                    <li>{{ ing }}</li>
                </ul>
            {% endfor %}
        </div>
    </div>
    <div class="media pt-1 media-body small lh-125 border-top border-gray">
        <div class="text-muted">
            {{ form.instance.timestamp }}, Updated {{ form.instance.updated|timesince }} ago
        </div>
    </div>
</div>
{% endblock %}

{% block make_changes_content %}
    <div class="col-md-6">
        <div class="form-group">
            <label for="name">Name:</label>
            <input type="text" class="form-control" id="name" name="name" style="font-size: 12px" value="{{ form.instance.name }}">
        </div>
        <div class="form-group">
            <label for="restaurant">Restaurant:</label>
            <select class="form-control" id="restaurant" name="restaurant" style="font-size: 12px">
                {% for rest in form.restaurant %}
                {{ rest }}
                {% endfor %}
            </select>
        </div>
        <div class="form-check pb-4">
            <label class="form-check-label" for="id_public">
                {% if form.instance.public %}
                <input type="checkbox" checked class="form-check-input" id="id_public" name="public">
                {% else %}
                <input type="checkbox" class="form-check-input" id="id_public" name="public">
                {% endif %}
                Public
            </label>
        </div>
        <button type="submit" class="btn btn-info">Submit</button>
    </div>
    <div class="col-md-3">
        <label>Contents:</label>
        <textarea class="form-control" rows="10" name="contents" style="font-size: 12px">{{ form.instance.contents }}</textarea>
        <p style="color: grey">Separate ingredients by commas.</p>
    </div>
    <div class="col-md-3">
        <label>Excludes:</label>
        <textarea class="form-control" rows="10" name="excludes" style="font-size: 12px">{{ form.instance.excludes }}</textarea>
        <p style="color: grey">Separate ingredients by commas.</p>
    </div>
{% endblock %}
