{% extends 'base-list.html' %}

{% block title_bar %}
    {% if user.is_authenticated %}
        <h5 class="mb-0 lh-100">User Following Feed</h5>
    {% else %}
        <h5 class="mb-0 lh-100">User Feed</h5>
    {% endif %}
{% endblock %}

{% block items %}
    <p>
        <strong class="d-block">
            <a style="color: #279bbe" href="{% url 'profiles:detail' username=obj.user.username %}">
                {{ obj.user.username }}</a>
        </strong>
        <small>{{ obj.updated }}</small>
    </p>

    <p>
        <strong>{{ obj.name }}</strong> &nbsp
        <a style="color: #1e7994" href="{% url 'profiles:detail' username=obj.user.username %}?q={{ obj.restaurant.title }}">
            {{ obj.restaurant.title }}</a> &nbsp
        <a style="color: #1e7994" href="{% url 'profiles:detail' username=obj.user.username %}?q={{ obj.restaurant.location }}">
            <em>{{ obj.restaurant.location }}</em></a> &nbsp
        <a style="color: #1e7994" href="{% url 'profiles:detail' username=obj.user.username %}?q={{ obj.restaurant.category }}">
            <em>{{ obj.restaurant.category }}</em></a>
        <br/>
        Contents: &nbsp
        {% for ing in obj.get_contents %}
        <a style="color: #1e7994" href="{% url 'profiles:detail' username=obj.user.username %}?q={{ ing }}">{{ ing }}</a>
        &nbsp
        {% endfor %}
        <br/>
        {% if obj.excludes %}
        Excludes: &nbsp
        {% for ing in obj.get_excludes %}
        <a style="color: #1e7994" href="{% url 'profiles:detail' username=obj.user.username %}?q={{ ing }}">{{ ing }}</a>
        &nbsp
        {% endfor %}
        {% endif %}
    </p>
{% endblock %}
