{% extends "base-list.html" %}

{% block head_title %}
    Create Restaurant | {{ block.super }}
{% endblock %}

{% block title_bar %}
    <h5>Create Restaurant</h5>
{% endblock %}

{% block items_main %}
<div class="px-3 bg-white rounded">

    <form method="POST">
        <div class="d-flex small lh-125 text-info justify-content-center">
            {% csrf_token %}
            <div class="form-group row p-2">

                {% for field in form %}
                    <div class="align-self-center m-2">
                        {{ field.label_tag}}
                        {{ field }}
                        {% if field.errors %}
                        <span class="list-unstyled" style="color: red">
                            <small>{{ field.errors|unordered_list }}</small>
                        </span>
                        {% endif %}
                    </div>
                {% endfor %}

                <button type="submit" class="btn btn-primary m-2">Create</button>
            </div>
        </div>
    </form>

</div>
{% endblock %}
