{% extends "base-list.html" %}

{% block head_title %}
    Restaurants | {{ block.super }}
{% endblock %}

{% block title_bar %}
    <h5>Restaurants</h5>
{% endblock %}

{% block title_bar_right %}
{% if user.is_authenticated %}
    <div>
        <h5><a style="color: white" href="{% url 'restaurants:create' %}">
            <i class="fas fa-plus"></i></a>
        </h5>
    </div>
{% endif %}
{% endblock %}

{% block items %}
    <strong class="d-block">
        <a style="color: #279bbe" href="{{ obj.get_absolute_url }}">{{ obj.title }}</a>
    </strong>
    <small>
        <span>
        <strong>Location: </strong>{{ obj.location }}
        <br/>
        <strong>Category: </strong>{{ obj.category }}
        </span>
        <br/>
        <span style="color: #aaaaaa">
        Created: {{ obj.timestamp }}<br/>
        Updated: {{ obj.updated }}
        </span>
    </small>
{% endblock %}

